@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}
*{
	padding: 0;
	margin: 0;
}

body {
  background-color: #242333;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', 'sans-serif';
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #20f309;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #f8dc09;
}

.seat.occupied {
  background-color: #4515f1;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 140px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

#submit{
  width: 100%;
  text-align: center;
}
#submit button{
  font-family: 'Akaya Telivigala', cursive;
  width: 200px;
  height: 40px;
  background-color: red !important;
  color: black !important;
  transition: all .3s;
}
#submit button a{
color: #eee8e8;
text-decoration: none;
}
#submit button:hover{
  font-family: 'Akaya Telivigala', cursive;
  width: 200px;
  background-color: black !important;
  color: #fff !important;
}
#submit button:active{
  font-size: 19px;
  background-color: rgb(46, 20, 5) !important;
  color: #fff !important;
}

#submit1{
  width: 100%;
  text-align: center;
}
#submit1 button{
  font-family: 'Akaya Telivigala', cursive;
  width: 200px;
  height: 40px;
  background-color: rgb(170, 255, 0) !important;
  color: black !important;
  transition: all .3s;
}
#submit1 button a{
color: #eee8e8;
text-decoration: none;
}
#submit1 button:hover{
  font-family: 'Akaya Telivigala', cursive;
  width: 200px;
  background-color: black !important;
  color: #fff !important;
}
#submit1 button:active{
  font-size: 19px;
  background-color: rgb(46, 20, 5) !important;
  color: #fff !important;
}
#timer {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid black;
  width: 200px;
  color: rgb(250, 246, 246);
}
