*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(/background.jpg);
}
h1{
    position: relative;
    left: 540px;
    top: 300px;
    color: beige;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit button{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    height: 40px;
    background-color: red !important;
    color: black !important;
    transition: all .3s;
}
#submit button a{
  color: #eee8e8;
  text-decoration: none;
}
#submit button:hover{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: black !important;
    color: #fff !important;
}
#submit button:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}

